@use "../variables" as *;

.theme-toggle {
  position: relative;
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus-visible {
    outline: 2px solid $yellow;
    outline-offset: 2px;
  }

  &:active {
    transform: scale(0.95);
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.3s;

    &--sun {
      stroke: $yellow;
      
      :root.light & {
        stroke: $sun-icon;
      }
      
      .theme-toggle:hover & {
        transform: rotate(45deg);
      }

      &.is-visible {
        transform: scale(1) rotate(0);
        opacity: 1;
      }

      &.is-hidden {
        transform: scale(0) rotate(-90deg);
        opacity: 0;
        position: absolute;
      }
    }

    &--moon {
      stroke: $moon;

      &.is-visible {
        transform: scale(1) rotate(0);
        opacity: 1;
      }

      &.is-hidden {
        transform: scale(0) rotate(90deg);
        opacity: 0;
        position: absolute;
      }
    }
  }
}
