@use "../../variables" as *;

.contact {
  min-height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.5rem;
  transition: background-color 0.3s;
  scroll-margin-top: 80px;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: $bg-dark;

  @media (width >= 640px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (width >= 768px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media (width >= 1024px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    gap: 1.5rem;

    @media (width >= 640px) {
      max-width: 448px;
      gap: 2rem;
    }

    @media (width >= 768px) {
      max-width: 512px;
    }

    @media (width >= 1024px) {
      max-width: 576px;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;

    @media (width >= 640px) {
      font-size: 1.875rem;
    }

    @media (width >= 1024px) {
      font-size: 2.25rem;
    }
  }

  &__description {
    text-align: center;
    font-size: 0.875rem;
    max-width: 32rem;
    padding: 0 0.5rem;
    color: $text-secondary;
    transition: color 0.3s;

    @media (width >= 640px) {
      font-size: 1rem;
      padding: 0;
    }
  }
}
